html {
  background-color: white;
  font-family: Helvetica, sans-serif;
}

body {
  line-height: 1.4rem;
}

nav {
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  white-space: nowrap;
}

nav div {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  padding: 0px 10px;
}

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  margin: auto;
  width: 100%;
}

header .flex {
  justify-content: flex-end;
}

div {
  display: inline-block;
  max-width: 250px;
  margin: 0px 10px;

}

.container {
  max-width: 960px;
  margin: auto;
  position: relative;
}

h1 {
  display: block;
  background-color: white;
  text-align: center;
  position: relative;
  width: 400px;
  left: 48%;
  top: -15%;
  white-space: nowrap;
  padding: 30px;
}

.flex {

}

.main-banner {
  padding: 0.75rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;


}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.supporting {
  display: flex;
  justify-content: center;

}

.title {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
  max-width: 10rem;
  margin: 0px 50px;
}

.info p {
  padding: 1rem 0;
}

p {
  display: block;
}

footer {
  padding: 1rem 0;
  background-color: azure;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  white-space: nowrap;

}

footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
