body {
  max-width: 1400px;

}

nav {
  background-color: white;
  width: 100%;
}

nav img {
  white-space: nowrap;
  padding-top:
}

nav .container {
  display: flex;
}

ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

.container {
  margin-left: 40%;
  margin-right: auto;
  float: left;
}

.gallery {
  width: 1400px;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 40%;
  border: 2px solid black;
  display: flex;
  position: relative;

justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 1100px;

}

.gallery img {
  width: 300px;
  height: 200px;
  margin: 32px;

}

.movie {

}

 #center{
  display: block;
  top: 50%;
}


.column {
  top: 30%;
  margin-left: 40%;
  position: absolute;
  float: left;
}

.column img {

}

.thesis {
  position: absolute;
  margin-left: 40%;
}
